@()

@main("Scala Play CRUD site") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <p>This site runs on three controllers: FishController, VeggieController and FruitController.<br>
      For GET and POST requests you can use the HTML forms below.<br>
      For PUT and DELETE requests you will have to use curl or software like Postman.<br>
      The data in the requests has to be url-encoded.</p>
      <div class="Product">
        <h2>VeggieController:</h2>
        <h1>Get Veggie by id</h1>
        <form action="/product" method="GET">
          Id<br><input type="text" name="id" value="1"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Make a POST request handled by VeggieController</h1>
        <form action="/product" method="POST">
          Name<br><input type="text" name="name" value="Kale"><br>
          Size<br><input type="text" name="colour" value="Green"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Delete a product</h1>
        In order to delete a product execute the following curl command
        with appropriate id and check the VegList:<br>
        <code>curl -X DELETE http://localhost:9000/product?id=1</code>
        <h1>Update a product</h1>
        In order to update a product execute the following curl command
        with appropriate id, name and colour. Then check the ProductList:<br>
        <code>curl -X PUT --data-urlencode "id=1" --data-urlencode "name=Armchair" --data-urlencode "colour=Red" http://localhost:9000/product</code>
      </div>



      <!-- <div class="Fish">
        <h2>FishController:</h2>
        <h1>Get Fish by id</h1>
        <form action="/fish" method="GET">
          Id<br><input type="text" name="id" value="1"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Make a POST request handled by FishController</h1>
        <form action="/fish" method="POST">
          Name<br><input type="text" name="name" value="Eel"><br>
          Size<br><input type="text" name="size" value="Small"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Delete a Fish</h1>
        In order to delete a Fish execute the following curl command
        with appropriate id and check the FishList:<br>
        <code>curl -X DELETE http://localhost:9000/fish?id=1</code>
        <h1>Update a Fish</h1>
        In order to update a Fish execute the following curl command
        with appropriate id, name and size. Then check the FishList:<br>
        <code>curl -X PUT --data-urlencode "id=1" --data-urlencode "name=Cod" --data-urlencode "size=Big" http://localhost:9000/fish</code>
      </div>
      <div class="Fruit">
        <h2>FruitController:</h2>
        <h1>Get Fruit by id</h1>
        <form action="/fruit" method="GET">
          Id<br><input type="text" name="id" value="1"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Make a POST request handled by FruitController</h1>
        <form action="/fruit" method="POST">
          Name<br><input type="text" name="name" value="Cherry"><br>
          Size<br><input type="text" name="taste" value="Sour"><br>
          <input type="submit" value="Submit">
        </form>
        <h1>Delete a Fruit</h1>
        In order to delete a Fruit execute the following curl command
        with appropriate id and check the FruitList:<br>
        <code>curl -X DELETE http://localhost:9000/fruit?id=1</code>
        <h1>Update a Fruit</h1>
        In order to update a Fruit execute the following curl command
        with appropriate id, name and taste. Then check the FruitList:<br>
        <code>curl -X PUT --data-urlencode "id=1" --data-urlencode "name=Banana" --data-urlencode "taste=Sweet" http://localhost:9000/fruit</code>
      </div> -->
    </article>
    <aside>
      @footer()
    </aside>
  </div>
</section>
}
}