body {
    font-family: arial;
}

article {
    display: block;
}

aside {
    display: block;
}

.Product {
    background-color: #ccccff;
}

.Category {
    background-color: #ccffcc;
}

.Cart {
    background-color: #f3ba65;
}

.Error {
    background-color: #da5f5f;
}